<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions go here (OUTSIDE application) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"
        tools:targetApi="33" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="28" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wesafe"
        android:usesCleartextTraffic="true">   <!-- ✅ Allow OSM HTTP -->

        <!-- Make LoginActivity launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".VerifyOtpActivity" />
        <activity android:name=".PasswordSetupActivity" />
        <activity android:name=".EnterPasswordActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".AddFriendActivity" />
        <activity android:name=".FriendsListActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".SosSettingsActivity" />
        <activity android:name=".SmsTestActivity" />

        <service
            android:name=".SosService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false"/>


        <!-- osmdroid cache config -->
        <meta-data android:name="osmdroid.basePath" android:value="osmdroid" />
        <meta-data android:name="osmdroid.cachePath" android:value="osmdroid/tiles" />

    </application>
</manifest>
